@import "../../../sass/extensions";
@import "../../../sass/variables";

.wrapper {
  width: 100%;
  //position: relative;
  background-color: $secondColor;

  .container {
    @include flexDirection(column);
    align-items: center;

    & img {
      @include makeWH(400px, 267px);
      transform: skewX(-5deg);
      border: 8px $firstColor solid;

      @include mediaQuery($large) {
        width: 90%;
        height: 90%;
      }
    }

    & h3 {
      font: 700 22px/1.6 $secondFont;
      @extend %marginToZero;
      padding: 15px 0;
    }

    & p {
      text-align: justify;
      @extend %marginToZero;
      padding: 0 30px 30px 30px;
      font: 700 18px/1.4 $firstFont;

      @include mediaQuery($laptopL) {
        font-size: 16px;
      }
    }

    &__btn {
      @include makeWH(30px, 25px);
      @include flexCenter;
      position: relative;
      bottom: 54px;
      left: 15%;
      transition: left 1.5s ease-in;
      cursor: pointer;

      @include mediaQuery($largeL) {
        left: 35%;
      }

      @include mediaQuery($large) {
        left: 10%;
      }

      @include mediaQuery($tabletXL) {
        left: 35%;
      }

      @include mediaQuery($tablet) {
        left: 35%;
      }

      @include mediaQuery($mobileL) {
        left: 35%;
      }

      @include mediaQuery($mobileL) {
        left: 35%;
      }

      &:hover {
        left: 25%;

        @include mediaQuery($largeL) {
          left: 40%;
        }

        @include mediaQuery($large) {
          left: 15%;
        }

        @include mediaQuery($tabletXL) {
          left: 40%;
        }

        @include mediaQuery($mobileL) {
          left: 40%;
        }

        @include mediaQuery($mobileM) {
          left: 15%;
        }
      }

      & div {
        @include makeWH(20px, 20px);
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        background-color: $firstColor;
      }
    }

    &_hide {
      display: none;
      //border: 2px greenyellow solid;
    }

    &_available {
      padding: 30px;
      display: block;
      @include flexDirection(column);
      align-items: center;
      background-color: $thirdColor;
      position: absolute;
      left: 0;
      right: 0;
      height: 200vh;
      z-index: 999;
      color: $secondColor;

      & img {
        border: 8px $secondColor solid;
        transform: skewX(0deg);

        @include mediaQuery($large) {
          width: 50%;
          height: auto;
        }

        @include mediaQuery($large) {
          width: 70%;
        }
      }

      & h3 {
        padding-top: 45px;
        font: 500 28px/1.4 $secondFont;
      }

      & p {
        padding-top: 15px;
        width: 90%;
      }
    }
  }
}