@import "src/sass/extensions";
@import "src/sass/variables";

@keyframes bounce {
  from {
    transform: rotateY(-180deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

.wrapper {
  width: 100%;
  background-color: $secondColor;
  padding-bottom: 20px;
}

.container {
  @extend %container;
  background-color: $secondColor;
  @include flexDirection(column);
  height: 120px;
  padding: 0;
  //border: 2px green solid;
}

.nav {
  @include flexDirection(row);
  padding: 0 5px;
  justify-content: space-between;
  align-items: flex-end;
  justify-self: flex-start;
  //border: 2px solid black;
  &__item {
    position: relative;
    top: -15px;
    padding: 5px;
    @include flexCenter;
    align-self: center;
    background-color: $firstColor;
    color: $secondColor;
    width: 23.5%;
    font: 500 20px/1.6 $firstFont;
    letter-spacing: 1.2px;
    //border: 2px greenyellow solid;
    text-align: center;
    border-radius: 15px;
    height: 45px;
    cursor: pointer;
    transition: top 1s  ease-out;

    &:hover {
      top: -5px;
    }


    & span {
      position: relative;
      top: 2px;
    }
  }
}

.header {
  @include flexDirection(row);
  justify-content: space-between;
  align-items: center;
  height: 70px;
  //border: 2px solid black;

  &__logo {
    padding-left: 20px;
  }

  &__phones {
    width: 17%;
    padding-right: 20px;
    @include flexDirection(row);
    justify-content: space-evenly;
    //border: 2px greenyellow solid;
  }

  &__phoneIcon {
    @include makeWH(55px, 55px);
    align-self: center;
    animation-duration: 3s;
    animation-name: bounce;
    animation-iteration-count: 3;
    animation-direction: alternate;
  }

  &__contactPhone {
    @include flexDirection(column);
    align-items: center;

    & a {
      color: $firstColor;
      font: 700 16px/1.3 $firstFont;
      text-decoration: none;
      border-bottom: 2px dashed $firstColor;

      &[href^='tel:'] {
        font-size: 17px;
      }
    }

    & p {
      color: $firstColor;
      text-decoration: none;
      font: 700 16px/1.3 $firstFont;
      margin: 0;
      padding: 0;
    }
  }
}