@import "../../sass/extensions";
@import "../../sass/variables";

.wrapper {
  width: 100%;
  background-color: $secondColor;
  padding: 50px 0;
  position: relative;

  &__title {
    margin: 10px auto 40px auto;
    @extend %title;
  }
}

.container {
  @extend %container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  justify-items: stretch;
  align-items: stretch;
  padding: 0;
  color: $firstColor;

  @include mediaQuery($mobileL) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
  }
}